@import '../../styles/global-styles.scss';

.header {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: $gutter-size;
  overflow: hidden;
  filter: blur(.5);
  .nav-bar {
    min-width: 300px;
    // width: 60%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: start;
    * {
      font-family: $font-sans;
      -webkit-font-smoothing: antialiased;
      color: $theme-base;
      font-weight: normal;
    }
    a, h1, span {
      font-size:  $gutter-size;
      line-height:  $gutter-size;
    }
    h1 {
      margin: 0;
      text-transform: uppercase;
    }
    a h1, a {
      text-decoration: none;
      &:hover {
        color: white;
        background: radial-gradient(blue, red, yellow);
        background-repeat: no-repeat ;
      }
    }
    ul {
      margin: 0px;
      list-style: none;
      li {
        margin-top: 0.5em;
        a { 
          text-decoration: none; 
          text-transform: unset!important;
        }
      }
    }
    #password {
      position: absolute;
      top: 30px;
      input[type=password] {
        background: transparent;
        margin: 1em 0;
      }
    }
  }
  @include mobile-tablet {
    &.--isActive {
      height:100vh!important;
      position: fixed;
      .nav-bar {
        height:100%;
        background: rgba(255, 0, 0, 0.7);
      }
    }
    .nav-bar {
      grid-template-columns: 100px 1fr!important;
      padding: 5px 5px;
      .nav-container {
        width: 100%;
        &:nth-child(1) *{
          text-align: left;
        }
        &:nth-child(2) *{
          text-align: right;
        }
        ul li {
          // margin-top: 1em;
        }
      }
      * {
        text-align: unset;
      }
    }
  }
}

img.marble {
  position: absolute;
  opacity: 0;
  transition: 1s opacity ease;
  pointer-events: none;
  .--isActive & {
    opacity: 1;
  }
}