@import '../../styles/global-styles.scss';

.header {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: $gutter-size;
  overflow: hidden;
  filter: blur(.5);
  .nav-bar {
    min-width: 300px;
    width: 60%;
    display: grid;
    grid-template-columns: auto 1fr auto;
    grid-column-gap: 10px;
    justify-items: center;
    align-items: start;
    * {
      font-family: $font-sans;
      color: $theme-base;
      font-weight: normal;
      text-transform: uppercase;
    }
    a, h1 {
      font-size: 2em;
      line-height: 1em;
    }
    h1 {
      margin: 0;
    }
  }
}