$theme-alt: #000000;
$theme-base-secondary: #e6e6e6;
$theme-base-secondary: white;

$theme-base: rgb(255, 255, 255);
$theme-link: blue;
$theme-nav: red;
$theme-hov: magenta;
$font-sans: Arial;
$font-serif: Times;
$gutter-size: 30px;
@import url("https://use.typekit.net/ffv6izs.css");
@import '~modularscale-sass/stylesheets/modularscale';

@mixin Sabon($style: normal, $weight: 400) {
  font-family: linotype-sabon, sans-serif;
  font-weight: $weight;
  font-style: $style; 
}

@mixin desktop-narrow {
  @media (min-width: 650px) and (max-width: 960px)  { @content; }
}

@mixin mobile-tablet {
  @media (max-width: 650px) { @content; }
}

$modularscale: (
  base: 1em,
  ratio: 1.5
);

$font-min: 14;
$font-max: 16;
$screen-min: 768;
$screen-max: 960;

$scaled-type: calc(#{$font-min}px + (#{$font-max} - #{$font-min}) * ((100vw - #{$screen-min}px) / (#{$screen-max} - #{$screen-min})));

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: $theme-base;
  min-height: 100%;
  min-width: 100%;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}