@import '../../styles/global-styles.scss';

.mediaViewer {
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-rows: minmax(250px, auto) 30px;
  height: 100%;
  .loader-window {
    height: 100vh;
    position: absolute;
    top: 0px;
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }
  .media-window {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
    display: grid;
    outline: 0;
    z-index: 1;
    overflow-y: scroll;
    .media-items {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    .media-items {
      width: 100%;
      height: 100%;
      .blue & { background: blue; }
      .light & { background: white; }
      .dark & { background: black; }
      .media-item {
        height: calc(100vh - 58px);
        align-items: center;
        justify-content: center;
        display: flex;
        &.video {
          position: relative;
          padding-bottom: 70vh;
          // height: 0;
          margin: 0;
        }
        &.img {
          max-width: 100%;
          margin: auto;
        }
        &:only-child img {
          max-height: 90vh;
        }
        &:only-child.video {
          padding-bottom: 90vh;
        }
        iframe {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          pointer-events: none;
        }
        img {
          max-width: 100%;
          height: 100%;
          max-height: 80vh;
          object-fit: contain;
        }
      }
    }
  }
  .img-ui {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
    z-index: 2;
    * {
      line-height: $gutter-size;
    }
    .scroll {
      letter-spacing: 1px;;
      user-select: none;
      @include Sabon(italic, 400);
    }
    .img-expander {
      background: $theme-base;
      border: 1px solid $theme-alt;
      font-family: Arial, Helvetica, sans-serif;
      text-transform: uppercase;
      font-size: 0.8em;
      outline: 0;
      cursor: pointer;
      user-select: none;
      font-size: 1.5em;
      margin-top: -10px;
      height: 33px;
      line-height: 30px;
      padding-bottom: 5px;
      border-radius: 10px;
      &:hover { color: $theme-link;}
    }
  }
}

.dark .mediaViewer {
  .img-expander {
    background: black;
    border: 1px solid $theme-base;
  }
}

.blue .mediaViewer {
  .img-expander {
    background: blue;
    border: 1px solid $theme-base;
  }
}

@include mobile-tablet {
  .mediaViewer {
    .click-scrim, .loader-window, .img-container {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 1;
      grid-row-end: 2;
      cursor: pointer;
      outline: 0;
    }
    .loader-window {
      height: 100%
    }
    .click-scrim {
      opacity: 0;
      z-index: 2;
    }
    .img-container {
      z-index: 1;
      height: auto;
      display: block;
      padding-top: 0;
      display: flex;
      align-content: center;
      justify-content: center;
      &.full-width {
        margin: 0px;
        overflow: hidden;
        iframe {
          height: 115%;
          margin-top: -10%;
          max-height: unset; // return-refine
        }
      }
      img, iframe {
        width: 100%;
        height: 100%;
        max-height: 80vh;
        object-fit: contain;
        user-select: none;
        z-index: 1;
      }
      iframe {
        @include mobile-tablet {
          object-fit: unset;
        }
      }
      img {
        @include mobile-tablet {
          max-height: 66vh;
        }
      }
    }
    .img-ui {
      grid-column-start: 1;
      grid-column-end: 2;
      grid-row-start: 2;
      grid-row-end: 3;
      font-size: 0.9em;
      display: flex;
      justify-content: space-evenly;
      * {
        line-height: $gutter-size;
      }
      .img-counter,
      .scroll {
        letter-spacing: 1px;;
        user-select: none;
        @include Sabon(italic, 400);
      }
      .img-clickthrough,
      .img-expander {
        display: none;
      }
    }
  }
}


.portfolio-spread#radish {
  img {
    border: 1px solid brown;
  }
}