@import '../../styles/global-styles.scss';

.mediaViewer {
  display: grid;
  grid-template-rows: auto 30px;
  grid-template-rows: minmax(250px, auto) 30px;
  height: 100%;
  .click-scrim, .loader-window, .img-container {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    cursor: pointer;
    outline: 0;
  }
  .loader-window {
    opacity: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 0;
    @include mobile-tablet {
      background: transparent;
      padding: 0 $gutter-size $gutter-size;
    }
  }
  .click-scrim {
    opacity: 0;
    z-index: 2;
  }
  .img-container {
    z-index: 1;
    margin: 2%;
    &.full-width {
      margin: 0px;
      overflow: hidden;
      iframe {
        height: 115%;
        margin-top: -10%;
        max-height: unset; // return-refine
      }
    }
    @include mobile-tablet {
      height: auto;
      display: block;
      padding-top: 0;
    }
    img, iframe {
      width: 100%;
      height: 100%;
      max-height: 80vh;
      object-fit: contain;
      user-select: none;
      z-index: 1;
    }
    iframe {
      @include mobile-tablet {
        object-fit: unset;
      }
    }
    img {
      @include mobile-tablet {
        max-height: 66vh;
      }
    }
  }
  .img-ui {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    font-size: 0.9em;
    display: flex;
    justify-content: space-evenly;
    * {
      line-height: $gutter-size;
    }
    .img-counter {
      letter-spacing: 1px;;
      user-select: none;
      @include Sabon(italic, 400);

    }
    .img-clickthrough,
    .img-expander {
      // font-family: Arial, Helvetica, sans-serif;
      // text-transform: uppercase;
      // font-size: 0.8em;
      outline: 0;
      cursor: pointer;
      user-select: none;
      &:hover { color: $theme-link;}
      @include mobile-tablet {
        display: none;
      }
    }
    .img-expander.full-width {
      color: lightgrey;
      cursor: default;
      pointer-events: none;
    }
  }
}