
@import '../../styles/global-styles.scss';
.page-loader {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolio-spread {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: grid;
  width: 100%;
  padding: $gutter-size;
  background: $theme-base-secondary;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1em calc(100vh - calc(#{$gutter-size} * 5) + 2em) calc(#{$gutter-size}) 1em;
  grid-column-gap: $gutter-size;
  transition: 1s all ease;
  * {
    color: $theme-alt;
    @include Sabon;
    font-style: revert;
}
  &.Reduce {
    grid-template-columns: 3fr 1fr;
    .left {
      cursor: zoom-out;
    }
  }
  @include desktop-narrow {    
    grid-template-columns: 1.5fr 1fr;
    font-size: 15px;
 }
 @include mobile-tablet {
    padding: calc(#{$gutter-size} * 1.5) calc(#{$gutter-size} - 10px);
    grid-template-columns: 1fr;
    grid-column-gap: 0;
    grid-template-rows: minmax(280px, auto) 1fr;
    height: auto;
 }
  .left {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 5;
    align-self: stretch;
    border: 1px solid $theme-alt;
    transition: 1s all ease;
    cursor: zoom-in;
    user-select: none;
    @include mobile-tablet {
      z-index: 1;
      grid-column-end: 1;
      grid-row-end: 2;
      height: auto;
      align-self: unset;
      border: 0px;
      background: transparent;
    }
  }
  .right {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    @include mobile-tablet {
      grid-column-start: 1;
      grid-column-end: 1;
      grid-row-end: 2;
      overflow-y: unset;
    }
    .text-container {
      max-width: 700px;
      margin: auto;
      white-space: "pre-line";
      font-size: 1.2em;;
      * { text-align: center; }
      h1 {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 1.8em;
        line-height: 1.3em;
        text-transform: uppercase;
        letter-spacing: 1px;
        max-width: 80%;
        margin: 1em auto;
        margin-bottom: 0px;
        @include mobile-tablet {
          margin-top: 0.5em;
          max-width: unset;
          font-size: 1.9em;
        }
        #project-date {
          font-size: 0.45em;
          margin-left: 10px;
          vertical-align: top;
          // position: absolute;
        }
      }
      a {
        display: block;
        text-decoration: none;
        @include Sabon(italic, 400);
        color: $theme-link;
      }
      ul {
        list-style-type: none;
        padding-left: 0px;
        li {
          text-transform: uppercase;
          @include Sabon(italic, 400);
        }
      }
      .text-body {
        margin-bottom: 2em;
        a { display: inline!important; }
        ul {
          // list-style-type: circle;
          li {
            text-transform: initial;
            font-style: normal;
            margin-bottom: 1em;
          }
        }
      }
      p {
        text-align: justify;
        text-align-last: center;
        margin-top: 0px;
        margin-bottom: 1em;
        white-space: pre-line;
        &:last-of-type {
          margin-bottom: 2em;
        }
      }
    }
  }
  .text-buffer {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 3;
      grid-row-end: 4;
      z-index: 1;
      transition: filter 1s ease;
      background: linear-gradient(0deg,$theme-base-secondary 20%,rgba(255,255,255,0) 100%);
      @include mobile-tablet { 
        display: block;
        position: fixed;
        bottom: $gutter-size;
        left: 0px;
        width: 100%;
        height: calc(#{$gutter-size} * 2);
      }
    }
  .portfolio-nav {
    z-index: 1;
    user-select: none;
    height: 1em;
    a {
        text-decoration: none;
        font-size: 1em;
        height: 1em;
        line-height: 1em;
        font-family: Arial, Helvetica, sans-serif;
        text-transform: uppercase;
        text-align: justify;
        display: block;
        &:after { /* Justify last line */
          content: '';
          display: inline-block;
          width: 100%;
        }
        &:hover {
          color: magenta;
        }
      }
    &.last {
      @include mobile-tablet { display: none; }
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 1;
      grid-row-end: 2;
    }
    &.next {
      grid-column-start: 2;
      grid-column-end: 3;
      grid-row-start: 4;
      grid-row-end: 5;
      @include mobile-tablet { 
        display: block;
        position: fixed;
        bottom: 0px;
        left: 0px;
        background-color: $theme-link; 
        width: 100%;
        height: 30px;
        padding: 0px 10px;
        span {
          display: none;
        }
        a {
          color: $theme-base;
          height: 30px;
          font-size: 30px;
        }
      }
    }
    &:hover {
      h2 {
        color: $theme-hov;
      }
    }
  }
}
@keyframes reveal{
  from {
    opacity: 0;
    background: linear-gradient(0deg, $theme-alt 20%,rgba(255,255,255,0) 100%);
  }
  to{
    opacity: 1;
    background: linear-gradient(0deg, $theme-alt 20%,rgba(255,255,255,0) 100%);
  }
}

.dark {
  background: $theme-alt;
  * { color: $theme-base; }
  .text-buffer {
    filter: invert(1);
  }
  .left  {
    border: 0px;
  }
}

.blue {
  background: blue;
  * { color: $theme-base; }
  a { color: magenta!important; }
  .portfolio-spread {
    .left {
      border: 0px;
    }
    .text-buffer {
      filter: invert(0);
      background: linear-gradient(0deg, blue 20%,rgba(255,255,255,0) 100%);
    }
  }
}