@import '../../styles/global-styles.scss';

@keyframes mask-play {
  from {
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 5%,  black 20%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 5%,  black 20%);
  }
  to {
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%,  black 50%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%,  black 50%);
  }
}

@keyframes invert {
  from {
    filter: invert(1);
  }
  to {
    filter: invert(0);
  }
}

@keyframes bg-shift {
  from { background: green; }
  to { background: grey; }
}

@keyframes bg-shift-mobile {
  from { background: red; }
  to { background: black; }
}

@keyframes background-position {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: 160px 0px;
  }
}

article {
  background-color: gray;
}

.home-page {
  background-color: gray;
  animation-name: bg-shift;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: calc(25% - 23px) 25% 150px auto;
  grid-template-rows: 1fr 300px 1fr 5px 5px;
  grid-column-gap: 5px;
  z-index: 2;
  transition: all 2s ease;
  transition: mask-image .3s;
  &.hover-state {
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%,  black 50%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.719) 25%,  black 50%);
  }
  .archway {
    border-top-left-radius: 100% 60%;
    border-top-right-radius: 100% 60%;
    background: #231f1a;
    background: radial-gradient(#ab9338, transparent);
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 5px;
    &:nth-of-type(1){
      grid-column-start: 1;
      grid-column-end: 2;
      border-top-left-radius: 50%;
      border-top-right-radius: 0;
    }
    &:nth-of-type(2){
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: 33px;
      display: grid;
      z-index: 2;
      border-top-left-radius: 0;
      border-top-right-radius: 30%;
    }
    &:nth-of-type(3){
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-template-rows: 1fr 1fr 1fr;
      border: 0px;
      display: grid;
      justify-content: center;
      align-content: center;
      justify-items: center;
    }
    &:nth-of-type(4){
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
    }
  }
  .window {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: stretch;
  }
  .faerie-orb {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
  }
}

.hover-page {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

@include mobile-tablet {
  .home-page {
    display: unset;
    animation-name: bg-shift-mobile;
    // background: rgb(243, 63, 63);
    .archway {
      display: none;
      &:nth-of-type(3){
        display: block;
        .faerie-orb {
          width: 240px;
          height: 400px;
          animation-name: glow;
          animation-duration: 20s;
          animation-iteration-count: infinite;
          animation-direction: alternate-reverse;
          border-radius: 0px;
          position: absolute;
          margin: unset;
          margin-left: 50%;
          left: -120px;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          -o-transform: translateY(-50%);
          transform: translateY(-50%);
        }
      }
    }
  }
}

.header {
  z-index: 5;
  top: 0px;
  padding-left: 0px;
  outline: 0;
  cursor: pointer;
  user-select: none;
  transition: .5s all ease;
  height: 100px;
  span {
    display: block;
  }
  .nav-bar {
    grid-template-columns: calc(25% - 23px) auto;
    .nav-container {
      width: 100%;
      &:nth-of-type(1){
        width: 100%;
        padding-right: 10px;
        padding-bottom: 50px;
        margin-left: 3px;
        h1 {
          width: auto;
          display: inline-block;
          margin-bottom: 1em;
        }
        * {
          color: white;
        }
      }
      justify-self: start;
      ul {
        padding-left: 0px;
        h1 {
          display: inline-block;
          background: radial-gradient(blue, red, yellow);
          animation-name: background-position;
          animation-duration: 2s;
          animation-iteration-count: infinite;
          &:hover {
            color: white;
            background: transparent;
          }
        }
        li, span {
          opacity: 0;
          transition: all .5s ease;
          pointer-events: none;
        }
        li {
          line-height: 1.75em;
          &:hover {
            a {
              color: white!important;
              background: radial-gradient(blue, red, yellow);
              background-repeat: no-repeat;
            }
            &:after {
              content: "➻";
              display: inline-block;
              margin-left: 0.5em;
              margin-left: 8px;
              font-size: 1.75em;
            }
            @include mobile-tablet {
              &:after {
                display: none;
              }
            }
          }
        }
      }
    }
  }
  &:hover {
    opacity: 1;
  }
  &.--isActive {
    height:auto;
    .nav-container {
      ul {
        h1 {
          color: white;
          animation: unset;
          background: transparent;
        }
        li, span { 
          opacity: 1; 
          pointer-events: all;
        }
      }
    }
  }
}

img.marble {
  position: absolute;
  z-index: -1;
  left: calc(25% - 23px);
  margin-left: -50px;
}