@import '../../styles/global-styles.scss';

@keyframes mask-play {
  from {
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 5%,  black 20%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 5%,  black 20%);
  }
  to {
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%,  black 50%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 25%,  black 50%);
  }
}

@keyframes invert {
  from {
    filter: invert(1);
  }
  
  to {
    filter: invert(0);
  }
}

article {
  background-color: gray;
}

.home-page {
  background-color: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  grid-template-columns: calc(25% - 23px) 25% 150px auto;
  grid-template-rows: 1fr 300px 1fr 5px 5px;
  grid-column-gap: 5px;
  z-index: 2;
  transition: all 2s ease;
  transition: mask-image .3s;

  &.hover-state {
    // animation: mask-play 1.4s;
    -webkit-mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%,  black 50%);
    mask-image: linear-gradient(45deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.719) 25%,  black 50%);
    // background: transparent;
    .archway {
      // background: transparent;
      // transition: background 2s ease;
    }
  }
  @include mobile-tablet {
    grid-template-columns: 0px 1fr 0px 1fr;
    grid-column-gap: 2.5px;
  }

  .archway {
    border-top-left-radius: 100% 60%;
    border-top-right-radius: 100% 60%;
    background: #231f1a;
    background: radial-gradient(#ab9338, transparent);
    grid-row-start: 1;
    grid-row-end: 5;
    margin-top: 5px;
    // background: radial-gradient(indianred, transparent);
    &:nth-of-type(1){
      grid-column-start: 1;
      grid-column-end: 2;
      border-top-left-radius: 50%;
      border-top-right-radius: 0;
    }
    &:nth-of-type(2){
      grid-column-start: 2;
      grid-column-end: 3;
      margin-top: 35px;
      display: grid;
      z-index: 2;
      border-top-left-radius: 0;
      border-top-right-radius: 30%;
    }
    &:nth-of-type(3){
      grid-column-start: 3;
      grid-column-end: 4;
      grid-row-start: 1;
      grid-template-rows: 1fr 1fr 1fr;
      border: 0px;
      display: grid;
      justify-content: center;
      align-content: center;
      justify-items: center;
      @include mobile-tablet {
       height: calc(100vh - 30px);
      }
    }
    &:nth-of-type(4){
      grid-column-start: 4;
      grid-column-end: 5;
      grid-row-start: 1;
    }
  }
  .window {
    grid-column-start: 2;
    grid-column-end: 3;
    align-self: stretch;
  }
  .faerie-orb {
    grid-row-start: 1;
    grid-row-end: 2;
    margin: auto;
    @include mobile-tablet {
      grid-column-start: 1;
      grid-row-start: 2;
      z-index: 5;
    }
  }
}

.hover-page {
  position: fixed;
  height: 100vh;
  overflow: hidden;
  z-index: 1;
}

.header {
  z-index: 5;
  top: 0px;
  padding-left: 0px;
  // transition: all .5s ease;
  outline: 0;
  cursor: pointer;
  user-select: none;
  transition: .5s all ease;
  height: 100px;
  span {
    display: block;
  }
  .nav-bar {
    animation-name: invert;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    grid-template-columns: calc(25% - 23px) auto;
    .nav-container {
      width: 100%;
      &:nth-of-type(1){
        // grid-column-start: 2;
        // justify-self: end;
        // text-align: right;
        width: 100%;
        padding-right: 10px;
        padding-bottom: 50px;
        margin-left: 3px;
        h1 {
          width: auto;
          display: inline-block;
          margin-bottom: 1em;
        }
        * {
          color: rgb(119, 118, 118);
        }
        // h1:hover, a:hover {
        //   color: white!important;
        //   background: radial-gradient(blue, red, yellow);
        //   background-repeat: no-repeat ;
        // }
      }
      a:hover {
        color: white!important;
        background: radial-gradient(blue, red, yellow);
        background-repeat: no-repeat ;
      }
      justify-self: start;
      ul {
        padding-left: 0px;
        h1 {
          display: inline-block;
          background: radial-gradient(blue, red, yellow);
          &:hover {
            color: white;
            background: transparent;
          }
        }
        li, span {
          opacity: 0;
          transition: all .5s ease;
          pointer-events: none;
        }
      }
    }
  }
  &:hover {
    // height: 300px;
    opacity: 1;
  }
  &.--isActive {
    height:auto;
    .nav-container {
      ul {
        h1 {
          color: white;
          animation: unset;
          background: transparent;
        }
        li, span { 
          opacity: 1; 
          pointer-events: all;
        }
      }
      &:nth-of-type(1){
        // align-self: end;
      }
    }
  }
  @include mobile-tablet {
    height: calc(#{$gutter-size * 2});
    .nav-bar {
      width: 100%;
      grid-template-columns: 1fr 1fr;
      a {
        margin-top: 1em;
      }
    }
  }
}

img.marble {
  position: absolute;
  z-index: -1;
  left: calc(25% - 23px);
  margin-left: -50px;
}